<.header>
  Game {@game.id}
  <:subtitle>This is a game record from your database.</:subtitle>
  <:actions>
    <.link patch={~p"/games/#{@game}/show/edit"} phx-click={JS.push_focus()}>
      <.button>Edit game</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name">{@game.name}</:item>
  <:item title="Description">{@game.description}</:item>
  <:item title="Unit price">{@game.unit_price}</:item>
  <:item title="Sku">{@game.sku}</:item>
  <:item title="Image">
    <img src={@game.image_upload} alt="Game Image" width="300" />
  </:item>
  <%!-- New row for the view counter using your Function Component --%>
  <:item title="Views">
    <PPhoenixLiveviewCourseWeb.GameLive.GameComponent.view_counter count={@game.views} />
  </:item>
  <:item title="Tomatoes Rating">
    <.live_component module={Tomatometer} id={"tomatometer-#{@game.id}"} game={@game} />
  </:item>
</.list>

<.back navigate={~p"/games"}>Back to games</.back>

<.modal :if={@live_action == :edit} id="game-modal" show on_cancel={JS.patch(~p"/games/#{@game}")}>
  <.live_component
    module={PPhoenixLiveviewCourseWeb.GameLive.FormComponent}
    id={@game.id}
    title={@page_title}
    action={@live_action}
    game={@game}
    patch={~p"/games/#{@game}"}
  />
</.modal>