/*GYM*/
.gym {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.gym > h1 {
    font-size: 24px;
    font-weight: bold;
}

.gym > h2 {
    font-size: 18px;
    font-weight: bold;
}

.gym .pokemon-battle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* POKEMON CARDS */
.pokemon-card {
    border: 1px solid #ccc;
    padding: 32px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.pokemon-card > img {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.pokemon-card > h2 {
    font-size: 18px;
    margin: 8px 0;
    font-weight: bold;
}

.pokemon-card > p {
    font-size: 14px;
    color: #666;
}

.pokemon-card:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

.pokemon-card:hover > img {
    transform: scale(1.15);
}

/*POKEMON LIST*/
.pokemon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
