<section class="gym">
  <h1>Pokemon battle!💥</h1>

  <h2>Choose your Pokemon</h2>
  <div class="pokemon-list">
    <PokemonComponents.pokemon_card :for={pokemon <- @pokemons} pokemon={pokemon} />
  </div>

  <h2>Battle area</h2>

  <div
    class="pokemon-battle"
    id="battle-area"
    name={if @battle_result, do: "#{@battle_result.status}-battle", else: "battle"}
    phx-hook="PokemonBattle"
  >
    <PokemonComponents.pokemon_card
      :if={@p1}
      pokemon={@p1.pokemon}
      player={if @role == :p1, do: "You", else: @p1.name}
      id={"#{@p1.id}-pokemon"}
    />

    <PokemonComponents.pokemon_card
      :if={@p2}
      pokemon={@p2.pokemon}
      player={if @role == :p2, do: "You", else: @p2.name}
      id={"#{@p2.id}-pokemon"}
    />
  </div>

  <button :if={@battle_result != nil} class="battle-button" id="battle-button">
    Battle
  </button>
</section>
