<section class="gym">
  <h1>Pokemon battle!💥</h1>

  <h2>Choose your Pokemon</h2>
  <div class="pokemon-list">
    <PokemonComponents.pokemon_card 
      :for={pokemon <- @pokemons} 
      pokemon={pokemon} 
      id={"select-#{pokemon.id}"} 
  />
  </div>

  <h2>Battle area</h2>
  <div
    class="pokemon-battle"
    id="battle-area"
    name={if @battle_result, do: "#{@battle_result.status}-battle", else: "battle"}
    phx-hook="PokemonBattle"
  >
    <PokemonComponents.pokemon_card
      :if={@p1}
      pokemon={@p1.pokemon}
      player={if @role == :p1, do: "You", else: @p1.name}
      id={"#{@p1.id}-pokemon"}
    />

    <PokemonComponents.pokemon_card
      :if={@p2}
      pokemon={@p2.pokemon}
      player={if @role == :p2, do: "You", else: @p2.name}
      id={"#{@p2.id}-pokemon"}
    />
  </div>

  <div id="battle-countdown" 
     style="display: none; position: absolute; top: 100%; left: 50%; transform: translate(-50%, -50%); font-size: 80px; font-weight: bold; color: yellow; text-shadow: 4px 4px 0px rgba(0,0,0,1); z-index: 100;">
  </div>
  <button :if={@battle_result != nil} class="battle-button" id="battle-button">
    Battle
  </button>
  <button 
    :if={@battle_result != nil} 
    phx-click="request-reset" 
    class="reset-button"
    >
      Reset Game
  </button>
</section>
